<div class="floors">
  <!-- <div class="floor-tr"> -->
    <div class="floor-container">
      <div class="floor-img">
      </div>
        <h2 class="fl-title">Floors</h2>
      <div>
        <p>＜入力すること＞<br>左側に"Pick up!"、右側にテナントの新着情報が出る<br>下にスクロールすると、各フロアのテナント紹介と、おすすめスポットの記載。<br><strong><u>「総合的に各フロアのスポット紹介」</u></strong>をするページ</p>
      </div>
    </div>
  </div>
</div>

<%= link_to "<Home>", '../', class: "", style: "line-height: 200px" %>