<div class="floors">
  <!-- <div class="floor-tr"> -->
    <div class="floors-container">
      <div class="floors-img">
      <!-- <h2 class="history-main-visual-title">ソニービルの歴史</h2> -->
      </div>
    </div>
  </div>
</div>

<%= link_to "<Home>", '../', class: "", style: "line-height: 200px" %>