<div class="history">
  <div class="history-tr">
    <div class="history-container">
      <h2 class="history-main-visual-title">ソニービルの歴史</h2>
    </div>
  </div>
</div>

<%= link_to "<Home>", '../', class: "", style: "line-height: 200px" %>