<body>

  <div class="main-visual">
    <div class="main-vi-tr">
      <div class="main-vi-container">
        <div class="main-vi-title">
          <h1 class="main-vi-title-text">Ginza Sony Park</h1>
        </div>
        <div class="main-vi-body">
          <h2 class="main-vi-body-text">あなたはどんなストーリーに出会いましたか？</h2>
          <!-- <h2 class="main-vi-body-text">あなたはどんなストーリーに<br>出会うことができましたか？</h2> -->
          <h4 class="main-vi-body-date">| 2018.8.9 ~ 2020.X.X |</h4>
          <div class="main-vi-login">
            <%= link_to "パークのメンバーになる", new_user_registration_path, class: "" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-notice">
    <p class="main-no-text">　　　ここにお知らせとか天気とかいろんなコメントを流しておけるようにしたらいいんじゃないでしょうか・・・</p>
  </div>

  <div class="history">
    <div class="history-tr">
      <div class="history-container">
        <div class="">
        </div>
      </div>
    </div>
  </div>

  <div class="Floors">
  </div>

  <div class="contents">
  </div>

  <div class="comments">
  </div>

  <div class="staffs">
  </div>

  <div class="maps">
  </div>

</body>