<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <title>Ginza Sony Park</title>
</head>

<body>
  <header>
    <div class="header-container">
      <ul class="header-list clearfix">
        <li class="header-text">Home</li>
        <li class="header-text">History</li>
        <li class="header-text">Floors</li>
        <li class="header-text">Contents</li>
        <li class="header-text">Comments</li>
        <li class="header-text">Staffs</li>
        <li class="header-text">Maps</li>
      </ul>
    </div>
  </header>

  <div class="main-visual">
    <h1 class="main-visual-text">Ginza Sony Park</h1>
  </div>

  <div class="history">
  </div>

  <div class="Floors">
  </div>

  <div class="contents">
  </div>

  <div class="comments">
  </div>

  <div class="staffs">
  </div>

  <div class="maps">
  </div>

  <footer>
  </footer>
</body>
</html>