<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <title>Ginza Sony Park</title>
</head>

<body>
  <header>
    <div class="header-container">
      <div class="header-image"></div>
      <ul class="header-list">
        <li class="header-text">1</li>
        <li class="header-text">2</li>
        <li class="header-text">3</li>
        <li class="header-text">4</li>
      </ul>
    </div>
  </header>

  <div class="main-visual">
  </div>

  <div class="history">
  </div>

  <div class="Floors">
  </div>

  <div class="contents">
  </div>

  <div class="comments">
  </div>

  <div class="staffs">
  </div>

  <div class="maps">
  </div>

  <footer>
  </footer>
</body>
</html>