/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*全般*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Courier, monospace, 'Hiragino Sans', sans-serif;
    /*Chalkduster, "Bradley Hand", Courier, "Segoe Print", sans-serif*/
    /*border: 1px solid red;*/

    /*縦方向はスクロール可*/
    /*overflow-y: hidden;*/
    /*横方向はスクロール不可*/
    /*overflow-x: hidden;*/
}

a {
    text-decoration: none;
}
li {
    display: inline;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.field-text {
    padding: 0 0 15px;
    line-height: 24px
}


/* ヘッダー */
header {
    background-color: #000000;
    width: 100%;
    /*height: 70px;*/
    height: 8vh;
    position: fixed;
    z-index: 999;
}
.header-container {
    width: 90%;
    margin: 0 auto;
    /*line-height: 70px;*/
    line-height: 8vh;
}
.header-list {
    list-style: none;
}
.header-text {
    color: #CCCCCC;
    /*font-size: 18px;*/
    font-size: 2.4vh;
    padding: 0 3vh;
    float: left;
}
.header-session {
    color: #CCC;
    font-size: 2vh;
    padding: 0 2vh;
    float: right;
}

/* footer */
footer {
    background-color: #000000;
    width: 100%;
    height: 6vh;
}
.footer-container {
    width: 90%;
    margin: 0 auto;
    line-height: 6vh;
}
.footer-text {
    color: #CCCCCC;
    font-size: 1.5vh;
    padding: 0 30px;
    float: right;
}



/* main-visual */
.main-visual {
    width: 100%;
    /*height: 720px;*/
    height: 92vh;
    background-image: url(main-visual.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(220%);
    filter: contrast(110%);
}
.main-vi-tr {
    height: 100%;
    background: rgba(235,235,225,0.55);
}
.main-vi-container {
    width: 80%;
    height: 92vh;
    margin: 0 auto;
}
.main-vi-title {
    height: 50%;
    color: #000;
}
.main-vi-title-text {
    /*font-size: 120px;*/
    font-size: 15vh;
    text-align: center;
    position: relative;
    top: 40%;
    font-family: 'arial';
    /*filter: drop-shadow(10px 10px 10px rgba(115,66,41,0.2));*/
    filter: drop-shadow(8px 8px 5px rgba(245,245,245,0.4));
}
.main-vi-body {
    height: 50vh;
}
.main-vi-body-text {
    /*font-size: 28px;*/
    font-size: 4.5vh;
    text-align: center;
    position: relative;
    top: 3%;
    font-family: 'Hiragino Sans';
    filter: drop-shadow(10px 10px 10px rgba(245,245,245,0.4));
}
.main-vi-body-date {
    /*font-size: 20px;*/
    font-size: 3.5vh;
    text-align: center;
    position: relative;
    top: 7%;
    filter: drop-shadow(10px 10px 10px rgba(245,245,245,0.4));
}
.main-vi-login {
    font-size: 13px;
    position: absolute;
    bottom: 0px;
    right: 50px;
    border: 2px;

    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5989cf;
    background: #c6e4ff;
    border-bottom: solid 6px #aac5de;
    border-radius: 9px;
}


/* Floors */
.floors {
    width: 100%;
    /*height: 720px;*/
    height: 92vh;
    background-color: #F5F5F5 ;
}
.fl-container {
    width: 80%;
    margin: 0 auto;
    padding: 12vh 0;
}
.fl-title {
    font-size: 12vh;
    text-align: center;
    font-family: 'Hiragino Sans';
    padding-bottom: 2vh;
}
.fl-left {
    width: 46vh;
    height: 40vh;
    float: left;
    border-radius: 25%;
    padding: 5vh;
    border: 2px solid #777;
    /*position: relative;*/
    /*top: 40vh;*/
}
.fl-img {
    width: 36vh;
    height: 30vh;
    background-image: url(gl_pc.png);
    background-size: cover;
    background-position: right;

    position: absolute;
    margin: auto;
}
.fl-right {
    width: 60%;
    height: 40vh;
    /*background-color: white;*/
    font-size: 3vh;
    line-height: 9vh;
    padding: 2.4vh 0;
    float: right;
}
.fl-right-text {
    font-size: 3vh;
    font-color: #AAA;
    font-family: 'Hiragino Gothic';
}
.fl-right-text-link {
    font-size: 4.5vh;
    padding: 0 1.2vh;
    margin: 0 0.4vh;
    color: black;
    border: 2px solid;
    border-radius: 15%;
}
.fl-gl {
    border-color: #2E8B57;
    background-color: #32CD32;
    margin-left: 5vh;
}
.fl-b1 {
    border-color: #696969;
    background-color: #DCDCDC;
}
.fl-b2 {
    border-color: #4169E1;
    background-color: #00BFFF;
}
.fl-b3 {
    border-color: #FF4500;
    background-color: #FF6347;
}
.fl-b4 {
    border-color: #FF8C00;
    background-color: #FFA500;
}


.floor-container {
    width: 80%;
    margin: 0 auto;
    padding: 12vh 0;
}



/* Contents */
.contents {
    width: 100%;
    /*height: 720px;*/
    height: 92vh;
    background-image: url(contents.jpg);
    background-size: cover;
    background-position: center;
}
.co-tr {
    height: 100%;
    background: rgba(255,255,255,0.7);
}
.co-container {
    width: 80%;
    margin: 0 auto;
    padding: 26vh 0;
}


/* Voices */
.voices {
    width: 100%;
    /*height: 720px;*/
    height: 92vh;
    background-color: #F5F5F5 ;
}
.vo-container {
    width: 80%;
    margin: 0 auto;
    padding: 26vh 0;
}


/* Staffs */
.staffs {
    width: 100%;
    /*height: 720px;*/
    height: 92vh;
    background-image: url(bg-img.png);
    background-size: contain;
    background-position: center;
}
.st-tr {
    height: 100%;
    background: rgba(255,255,255,0.7);
}
.st-container {
    width: 80%;
    margin: 0 auto;
    padding: 26vh 0;
}


/* Maps */
.maps {
    width: 100%;
    /*height: 720px;*/
    height: 92vh;
    background-color: #F5F5F5 ;
}
.ma-container {
    width: 80%;
    margin: 0 auto;
    padding: 26vh 0;
}










/* history */
.history {
    width: 100%;
    /*height: 720px;*/
    height: 86vh;
    background-image: url(sonybuildinghistory.jpg);
    background-size: cover;
    background-position: center;
}
.history-tr {
    height: 100%;
    background: rgba(255,255,255,0.5);
}
.history-container {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}
.history-main-visual-title {
    font-size: 50px;
    font-family: sans-serif;
}
